export GOOGLE_APPLICATION_CREDENTIALS="your-service-account-file.json"
export GOOGLE_CLOUD_PROJECT="project"
export GOOGLE_CLOUD_LOCATION="location"
export MIGRATIONS_DIRECTORY="migrations"
export MIGRATIONS_HISTORY_TABLE="schema_history"
